.list_1 {
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #7a7a7a;
}

.list_1 li:first-child {
  border-left: 1px solid #e9e7e7;
  padding-left: 20px;
}

.list_1 i {
  color: #f35525;
  font-size: 20px;
}

.list_2 {
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;

  & a {
    background-color: #cdcdcd;
    padding: 7px;
    border-radius: 50px;
    color: white;
    transition: all 0.3s;

    &:hover {
      background-color: #f35525;
    }
  }
}

.header_1 {
  padding: 20px 0;
  border-bottom: 1px solid #e9e7e7;
}

@media (max-width: 992px) {
  .header_1 {
    display: none;
  }
}

.menu_1 {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: white;
  padding-top: 30px;
}

.sub_menu_1 {
  float: left;
  margin-top: 10px;

  & ul {
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  & a {
    text-decoration: none;
    color: #1e1e1e;
    transition: all 0.3s;
    font-weight: 500;

    &:hover {
      color: #f35525;
    }
  }
}

.logo {
  font-weight: 700;
}

.sub_menu_2 {
  justify-content: space-between;

  & .menu_btn {
    position: fixed;
    z-index: 100;
    cursor: pointer;
    top: 40px;
    left: 50px;
    width: 30px;
    height: 25px;
  }

  & .menu_btn span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all 0.25s;
  }

  & .menu_btn span:nth-child(1) {
    top: 0px;
  }

  & .menu_btn span:nth-child(2) {
    top: 10px;
  }

  & .menu_btn span:nth-child(3) {
    top: 20px;
  }

  & .menu_btn.active span:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(-225deg);
    transform: translateY(10px) rotate(-225deg);
  }

  & .menu_btn.active span:nth-child(2) {
    opacity: 0;
  }

  & .menu_btn.active span:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(225deg);
    transform: translateY(-10px) rotate(225deg);
  }
}

@media (max-width: 768px) {
  .menu_1 .container {
    max-width: 100%;
  }

  .sub_menu_1 {
    float: none;
    border-top: 1px solid #a0a0a0cb;
    border-bottom: 1px solid #a0a0a0cb;
    position: fixed;
    right: 100%;
    width: 100%;
    transition: all 0.5s;

    & ul {
      display: block;

      & li {
        text-align: center;
        border-bottom: 1px solid #dfdfdf;

        & a {
          padding: 10px 0;
          display: block;
          width: 100%;
        }
      }
    }
  }

  .sub_menu_1.active {
    right: 0;
  }
}

@media (min-width: 768px) {
  .sub_menu_2 .menu_btn {
    display: none;
  }
}

.carousel_1 {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;

  & .carousel-item {
    & .carousel-img {
      height: 600px;
      width: 100%;
      background-position: center;
    }

    & .carousel-caption {
      text-align: right;
      bottom: 40%;
    }
  }
}

.section_1 {
  margin-top: 200px;
  margin-bottom: 200px;

  & .buynow {
    background: #f35525;
    padding: 20px;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    text-align: center;
    display: flex;
    bottom: -40px;
    right: 0px;
    position: absolute;
  }

  & .section_2 {
    list-style: none;
    margin: 0;
    padding: 0;

    & h5 {
      color: #ee626b;
      border-right: 2px solid #ee626b;
      padding-right: 10px;
      margin-bottom: 30px;
    }

    & .accordion {
      margin-top: 50px;
      margin-right: 20px;

      & .accordion-button::after {
        display: none;
      }

      & .accordion-button:not(.collapsed) {
        background-color: transparent;
        color: #f35525;
        box-shadow: none;
      }

      & .accordion-item {
        border: none;
      }
    }
  }

  & .section_3 {
    position: relative;

    & img {
      width: 100%;
    }
  }
}

.section_4 {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);

  & span {
    color: #aaa;
  }

  & ul {
    list-style: none;

    & li {
      display: flex;
      gap: 20px;
      border-bottom: 1px solid #eee;
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
}

.video_section {
  background-image: url(https://templatemo.com/templates/templatemo_591_villa_agency/assets/images/video-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
  margin-left: 10px;
  height: 600px;
  margin-bottom: 300px;
  padding-top: 80px;
  color: white;

  & h6 {
    color: #ee626b;
    border-right: 2px solid #ee626b;
    padding-right: 10px;
    width: 100px;
    margin: 0 auto 30px auto;
  }

  & .container {
    text-align: center;
  }

  & .video {
    width: 100%;
    height: 600px;
    background-image: url(https://templatemo.com/templates/templatemo_591_villa_agency/assets/images/video-frame.jpg);
    margin-top: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    position: relative;

    & i {
      font-size: 50px;
      color: #f35525;
    }

    & a {
      background: white;
      height: 70px;
      display: flex;
      width: 70px;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      position: absolute;
      top: 50%;
      left: 50%;
      outline: 15px solid rgba(254, 85, 37, 0.5);
    }
  }
}

.section_5 {
  padding-top: 100px;

  & .section_5_item {
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;
    background-color: #ffeee9;
    padding: 20px 50px;
    width: fit-content;
    border-radius: 20px;
    font-weight: 500;
    margin: 0 auto;

    & h1 {
      color: #f35525;
    }

    & span {
      width: 50px;
      height: 50px;
      background-color: #f35525;
      border-radius: 50px;
      position: absolute;
      top: -20px;
      left: -20px;
      outline: 5px solid white;
    }
  }
}

.best_deal {
  margin-top: 150px;
  background-color: #fafafa;
  padding-top: 150px;
  padding-bottom: 50px;

  & .best_deals_btns {
    display: flex;
    justify-content: left;
    gap: 20px;
    height: 100%;
    align-items: flex-end;

    & button {
      background-color: #1e1e1e;
      color: white;
      padding: 10px 20px;

      &.active {
        background-color: #f35525;
        border: none;
      }
    }
  }

  & .best_deals_title {
    & h6 {
      color: #ee626b;
      border-right: 2px solid #ee626b;
      padding-right: 10px;
    }
  }

  & .best_deals_content {
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 70px;
  }

  & .best_deals_tab {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: all 0.3s;

    &.active {
      opacity: 1;
    }
  }

  & .best_deal_img {
    width: 100%;
  }

  & .best_deal_props {
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 30px;
    border-radius: 10px;

    & ul {
      list-style: none;
      padding: 0;
      margin: 0;

      & li {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

        &:last-child {
          margin-bottom: 0;
        }

        & span:first-child {
          color: #aaa;
        }

        & span:last-child {
          font-weight: 700;
        }
      }
    }
  }

  & .best_deal_info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  & .best_deal_buy {
    background-color: #1e1e1e;
    color: white;
    width: 150px;
    padding: 20px;
    border-radius: 50px;
    position: relative;
    display: block;
    text-decoration: none;

    & i {
      background: red;
      position: absolute;
      left: 0;
      padding: 10px;
      border-radius: 50px;
      font-size: 20px;
      top: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
    }
  }
}

.properties {
  margin-top: 100px;

  & .card {
    border: none;
  }

  & h1 {
    text-align: center;
    margin-bottom: 100px;
  }

  & .properties_title {
    color: #ee626b;
    border-right: 2px solid #ee626b;
    padding-right: 10px;
    width: 100px;
    margin: 20px auto;
  }

  & .card-body {
    & .tagprice {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      & span:first-child {
        background-color: #fbd9cf;
        padding: 5px 10px;
        border-radius: 5px;
      }

      & span:last-child {
        color: #f35525;
        font-weight: 700;
      }
    }

    & .more {
      text-align: center;

      & a {
        background-color: #1e1e1e;
        border-color: #1e1e1e;
        margin-top: 50px;
        border-radius: 50px;
        padding: 10px 40px;
        transition: all 0.3s;

        &:hover {
          background-color: #f35525;
          border-color: transparent;
        }
      }
    }
  }

  & .card-text span {
    font-weight: 500;
    margin-left: 20px;
  }
}

footer {
  background: #1e1e1e;
  margin-top: 100px;
  color: white;
  padding: 20px 0px;
}
